/*Estilos da página index.html*/
.center {
    text-align: center;
}
.justify{
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;

}

#menu li {
    display: inline;
    padding: 25px;

}

#menu li a{
    text-decoration: none;
    color: brown;
    font-size: 18px;
}

#menu li a:hover {
    color: black;
}

.p1 {
    padding: 30px;
}

/*Estilos da página de contato.html*/

.margem {
    margin-left: 50px;
}