*{
    margin: 0px;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    
    
}
.menu1 li {
    display: inline;
    flex-flow: row ;
    background-color: rgb(165, 42, 42);
    padding: 30px;
   
    

}

li{
    color: rgb(165, 42, 42);
    padding-left: 20px;
    font-size: 15px;
}
li:hover{
    color: 721E35;
}

.titulo{
    text-align:center;
    color:  rgb(165, 42, 42);
    font-size: 30px;
}

.tamanho{
    font-size: 40px;
}

a{
    text-decoration: none;
    color:  rgb(165, 42, 42);
    padding: 15px;
    

}

ul{
    list-style-type: none;
}

.texto {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    align-items: center;
    padding: 30px;

}
.imagem{
    margin-right:10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.video{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    align-items: center;

}

.mt{
margin-top: 15px;
}
